@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: none;
	border: none;
	outline: none;
}

/*==================== HEADER ====================*/
.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	background: url(../img/header/header-background.png) center no-repeat;
	background-size: cover;
}

/*----- HEADER MENU -----*/
.header-menu {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: 10%;
	color: #ffffff;
}

.header-menu__logo {
	display: flex;
	align-items: center;
	width: 40%;
	height: 100%;
	margin-left: 2%;
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.header-menu__logo a {
	color: inherit;
	text-decoration: none;
	transition: color 0.2s linear;
}
.header-menu__logo a:hover {
	color: #fce38a;
}

.header-menu__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	height: 100%;
}

.header-menu__element {
	position: relative;
	margin: 0 2%;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
}
.header-menu__element::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	bottom: -5px;
	left: 50%;
	width: 0;
	height: 3px;
	background: #fce38a;
	transform: translateX(-50%);
}
.header-menu__element:hover::after {
	width: 100%;
	transition: width 0.2s ease-in-out;
}
.header-menu__element:hover {
	color: #fce38a;
	transition: color 0.2s linear;
}

/*----- HEADER TITLE -----*/
.header-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: auto;
	color: #ffffff;
}

.header-title__sub {
	font-family: "Kaushan Script", cursive;
	font-size: 45px;
	line-height: 100px;
}

.header-title__sup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 100px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 75px;
}
.header-title__sup::after {
	content: "";
	display: block;
	width: 60px;
	height: 5px;
	margin-top: 5%;
	background: #ffffff;
}

/*----- HEADER BUTTON -----*/
.header-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	height: auto;
	color: #ffffff;
}

.header-button-container {
	padding: 12px 30px;
	border: 3px solid #ffffff;
	color: inherit;
	transition: 0.2s;
	cursor: pointer;
}
.header-button-container:hover {
	color: #fce38a;
	border-color: #fce38a;
}

.header__button-container {
	text-decoration: none;
	color: inherit;
}
.header__button-container input {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: inherit;
}

/*----- HEADER BOTTOM -----*/
.header-bottom {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	height: 10%;
	color: #ffffff;
}

.header-bottom__block {
	display: flex;
	align-items: center;
	position: relative;
	width: 20%;
	height: 100%;
	border-top: 3px solid #ffffff;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: inherit;
}
.header-bottom__block::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: -3px;
	width: 0;
	height: 3px;
	background: #f38181;
	transition: width 0.2s ease-in-out;
}
.header-bottom__block:hover::before {
	width: 100%;
}

.header-line__block_bold {
	margin-right: 2.5%;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: inherit;
}

/*==================== MAIN ====================*/
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	color: #ffffff;
}

/*----- MAIN ABOUT US -----*/
.main-about-us {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	max-width: 1200px;
	height: 85vh;
	background: #ffffff;
}

/*----- TITLE CONTAINER -----*/
.container-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	height: auto;
	color: #333333;
}

.container-title__sub {
	font-family: "Kaushan Script", cursive;
	font-size: 24px;
	margin-bottom: 10px;
}

.container-title__sup {
	margin: 10px auto 0 auto;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
}
.container-title__sup::after {
	content: "";
	display: block;
	width: 60px;
	height: 5px;
	margin: 20px auto;
	background-color: #f38181;
	z-index: 1;
}

.container-title__text {
	width: 950px;
	margin-top: 10px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #999999;
}

/*----- ABOUT US GALLERY -----*/
.main-about-us__gallery {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 1200px;
	height: auto;
}

.main-about-us__block {
	position: relative;
	width: 380px;
	height: 250px;
	background-color: #95e1d3;
}
.main-about-us__block:hover .main-about-us__img {
	transform: translate3d(-3%, -4.5%, 0);
}
.main-about-us__block:hover .main-about-us__img img {
	opacity: 0.3;
}
.main-about-us__block:hover .main-about-us__logo {
	opacity: 1;
}

.main-about-us__img {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform 0.25s linear;
}
.main-about-us__img img {
	display: block;
	transition: opacity 0.25s linear;
}

.main-about-us__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 45.5%;
	left: -3%;
	z-index: 2;
	transform: translate3d(50%, -50%, 0);
	transition: transform 0.25s linear;
	opacity: 0;
	transition: opacity 0.25s linear;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 18px;
}
.main-about-us__logo img, .main-about-us__logo p {
	margin: 5px 0;
}

/*----- MAIN STATISTICK -----*/
.main-statistick-row {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 30vh;
	background: #95e1d3;
}

.main-statistick-row__container {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
}

.main-statistick-row__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 25%;
	height: 100%;
	border-left: 1px solid #b5eae0;
	border-right: 1px solid #b5eae0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	color: inherit;
}

.main-statistick-row__block_bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 45px;
	color: inherit;
}

/*----- MAIN SERVICES -----*/
.main-services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	max-width: 1200px;
	height: 85vh;
}

.main-services__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: auto;
}

.main-services__list_up, .main-services__list_down {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
}

.main-services__list_up::after {
	content: "";
	display: block;
	width: 100%;
	max-width: 1200px;
	height: 1px;
	margin: 3% 0;
	background-color: #e5e5e5;
}

/*----- SERVICES ELEMENTS -----*/
.main-services__element {
	display: flex;
	justify-content: space-between;
	width: 33%;
}

.main-services__img {
	width: 10%;
	height: 100%;
	margin: 2%;
}

.main-services__text {
	width: 90%;
	height: 100%;
	margin: 2%;
}

.main-services__text_big {
	margin-bottom: 5%;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #333333;
}

.main-services__text_small {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #999999;
}

/*----- MAIN DESIGN -----*/
.main-design {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/main/design/background.png) center no-repeat;
	background-size: cover;
}

/*----- DESIGN OBJECTS -----*/
.main-design__obj {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
}

.main-design__back {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.main-design__back img {
	width: 85%;
}

.main-design__front {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	z-index: 1;
	right: 22.5%;
	bottom: -12.5%;
}
.main-design__front img {
	width: 85%;
}