@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

%sizes {
    width: 100%;
    max-width: 1200px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
}

/* HEADER */

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: url(../img/header/header-background.png) center no-repeat;
    background-size: cover;
}

/* HEADER MENU */

.header-menu {
    display: flex;
    align-items: center;
    @extend %sizes;
    height: 10%;
    color: #ffffff;
}

.header-menu__logo {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 2%;

    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    a  {
        &:hover {
            color: #fce38a;
        }
        color: inherit;
        text-decoration: none;
        transition: color 0.2s linear;
    }
}

.header-menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
}

.header-menu__element {
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 3px;
        background: #fce38a;
        transform: translateX(-50%);
    }

    &:hover::after{
        width: 100%;
        transition: width .2s ease-in-out;
    }

    &:hover {
        color: #fce38a;
        transition: color 0.2s linear;
    }

    position: relative;
    margin: 0 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

/* HEADER TITLE */

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %sizes;
    height: auto;
    color: #ffffff;
}

.header-title__sub {
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    line-height: 100px;
}

.header-title__sup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 75px;

    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        margin-top: 5%;
        background: #ffffff;
    }
}

/* HEADER BUTTON */

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %sizes;
    height: auto;
    color: #ffffff;
}

.header-button-container {
    &:hover {
        color: #fce38a;
        border-color: #fce38a;
    }

    padding: 12px 30px;
    border: 3px solid #ffffff;
    color: inherit;
    transition: 0.2s;
    cursor: pointer;
}

.header__button-container {
    text-decoration: none;
    color: inherit;

    input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: inherit;
    }
}

/* HEADER BOTTOM */

.header-bottom {
    display: flex;
    justify-content: space-between;
    @extend %sizes;
    height: 10%;
    color: #ffffff;
}

.header-bottom__block {
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: -3px;
        width: 0;
        height: 3px;
        background: #f38181;
        transition: width .2s ease-in-out;
    }

    &:hover::before {
        width: 100%;
    }

    display: flex;
    align-items: center;
    position: relative;
    width: 20%;
    height: 100%;

    border-top: 3px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: inherit;
}

.header-line__block_bold {
    margin-right: 2.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}

/* MAIN */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #ffffff;
}

/* MAIN ABOUT US */

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @extend %sizes;
    height: 85vh;
    background: #ffffff;
}

/* ABOUT US TITLE */

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @extend %sizes;
    height: auto;
    color: #333333;
}

.title__sub {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-bottom: 10px;
}

.title__sup {
    margin: 10px auto 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;

    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        margin: 20px auto;
        background-color: #f38181;
        z-index: 1;
    }
}

.title__text {
    width: 950px;
    margin: 10px 0 30px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #999999;
}

/* ABOUT US GALLERY */

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %sizes;
    height: auto;
}

.gallery__block {
    &:hover .gallery__img {
        transform: translate3d(-15px, -15px, 0);
    }

    &:hover .gallery__img img{
        opacity: 0.3;
    }

    &:hover .gallery__logo {
        opacity: 1;
    }

    &:hover .gallery__net {
        opacity: 1;
    }

    position: relative;
    width: 380px;
    height: 250px;
    background-color: #95e1d3;
}

.gallery__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.25s linear;

    img {
        display: block;
        transition: opacity 0.25s linear;
    }
}

.gallery__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top:30%;
    left:-15px;
    z-index: 2;
    transform: translate3d(50%, 0, 0);
    transition: transform 0.25s linear;
    opacity: 0;
    transition: opacity 0.25s linear;


    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;

    img, p {
        margin: 5px 0;
    }
}

/* MAIN STATISTICK */

.statistick-row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background: #95e1d3;
}

.statistick-row__container {
    display: flex;
    justify-content: center;
    @extend %sizes;
}

.statistick-row__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 100%;

    border-left: 1px solid #b5eae0;
    border-right: 1px solid #b5eae0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: inherit;
}

.statistick-row__block_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: inherit;
}

/* MAIN SERVICES */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @extend %sizes;
    height: 85vh;
}

.services__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %sizes;
    height: auto;
}

.services__list_up, .services__list_down {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @extend %sizes;
}

.services__list_up::after {
    content: "";
    display: block;
    @extend %sizes;
    height: 1px;
    margin: 3% 0;
    background-color: #e5e5e5;
}

/* SERVICES ELEMENTS */

.services__element {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

.services__img {
    width: 10%;
    height: 100%;
    margin: 2%;
}

.services__text {
    width: 90%;
    height: 100%;
    margin: 2%;
}

.services__text_big {
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}

.services__text_small {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #999999;
}

/* MAIN DESIGN */

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/main/design/background.png) center no-repeat;
    background-size: cover;
}

/* DESIGN TITLE */

.title-indent {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %sizes;
    height: 30%;
}

/* DESIGN OBJECTS */

.design__obj {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    @extend %sizes;
    height: 70%;
}

.design__back {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        width: 85%;
    }
}

.design__front {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    right: 22.5%;
    bottom: -12.5%;

    img {
        width: 85%;
    }
}

/* MAIN WHAT WE DO */

.waht-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @extend %sizes;
    padding: 2.5% 0;
}

/* WHAT WE DO ACCORDION */

.waht-we-do__content {
    display: flex;
    justify-content: space-between;
    @extend %sizes;
    height: 55%;
}

.waht-we-do__block {
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;

    img {
        height: 100%;
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
}

.accordion__elemnt {
    border: 1px solid #e5e5e5;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    color: #333333;
    &.active {
        color: #ffffff;
        background-color: #333333;
    }
}

.accordion__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 7.5px;

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
}

.accordion__main {
    display: none;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #999999;
    &.active {
        display: block;
    }
}

.accordion__arrow.active {
    transform: rotate(180deg);
}

/* MAIN FEEDBACK */

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: #f8f8f8;
}

.feedback-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.feedback__text {
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #999999;

    h2 {
        font-family: 'Kaushan Script', cursive;
        color: #333333;
        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            background-color: #f38181;
            width: 60px;
            height: 3px;
            margin-right: 15px;
        }
    }
}

.feedback-messege {
    border: 3px solid #95e1d3;
    width: 120;
    padding: 30px;
}

.feedback-left {
    width: 30px;
    margin-right: 15px;
    transform: rotate(-90deg);

    &:hover {
        cursor: pointer;
    }
}

.feedback-right {
    width: 30px;
    transform: rotate(90deg);

    &:hover {
        cursor: pointer;
    }
}

/* MAIN OUR TEAM */

.our-team {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @extend %sizes;
    padding: 2.5% 0;
}

/* OUR TEAM GALLERY */

.gallery__block.bg {
    width:380px;
    height: 470px;
}

.gallery__net {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 220px;
    height: 55px;

    position: absolute;
    top:40%;
    left:-15px;
    z-index: 2;
    transform: translate3d(38.5%, 0, 0);
    transition: transform 0.25s linear;
    opacity: 0;
    transition: opacity 0.25s linear;

    background-color: #f38181;
}

.gallery__net_fab {
    &:hover {
        color: #ffffff;
        background: #f38181;
        transition: color 0.25s linear;
        transition: background 0.25s linear;
    }

    &:last-child {
        margin-right: 0;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;

    font-size: 35px;
    margin-right: 1px;
    color: #f38181;
    background-color: #fce38a;
    cursor: pointer;
}

.gallery.name {
    display: flex;
    justify-content: space-around;
}

.gallery__name {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 25px;

    h2 {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #333333;
    }

    i {
        margin-top: 5   px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #999999;
    }
}

/* MAIN SPONSORS */

.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: #f8f8f8;
}
